## User settings
xcuserdata/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

## Junk
.DS_Store

## Custom
MovieNut/Constants/Credentials.swift
MovieNut.xcodeproj/